.AppContainer {
  background-color: rgba(34,34,34,.63);
  min-height: 90vh;
  width: 500px;
  border-radius: 10px;
  color: rgba(255,90,0,1);
}

.App {
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 400px;
  height: calc(90vh - 100px);
}
